
.body1 {
    background-color: rgb(53, 51, 51);
}
.h {
    color: rgb(113, 117, 113);
}
.body2 {
  background-color: rgb(6, 48, 6);
}
.body3 {
  background-color: rgb(49, 49, 99);
}
.footer {
  display:block;
  position: absolute;
}
